<!doctype html>
<html lang="en-gb">


<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google analytics snippet taken from original cayman theme. Can be controlled from 
            config file -->
    {% if site.google_tag_manager %}
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NDG2XX7');</script>
    <!-- End Google Tag Manager -->
    {% endif %}
    
    
    
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon.ico">
    
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}/blog/feeds/rss/">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ site.baseurl }}/blog/feeds/atom/">
    
    <link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/flexslider.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/mezzanine.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/skins/default.css">

    <script src="{{ site.baseurl }}/assets/mezzanine/js/jquery-3.4.1.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap-extras.js"></script>

    <!-- Google CSE Search stuff -->
    <script async src="https://cse.google.com/cse.js?cx=98d9bba52d1334b96"></script>
    <script src="https://unpkg.com/mustache@4.1.0"></script>
    <script src="{{ site.baseurl }}/assets/js/result_bootstrap_mustache.js"></script>
    <script>
        gcs_results_template = "{{ site.baseurl }}/assets/html/bootstrap_results.html";
        window.__gcse || (window.__gcse = {});
        window.__gcse.searchCallbacks = {
            web: {
                ready: bootstrapResultsReadyCallback,
            },
        };
    </script>

</head>

<body id="body">
    <div id="wrapper">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NDG2XX7" height="0" width="0"
                style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        {% include navbar.html %}
        {% if page.skip_banner %}
            {{ content }}
        {% else %}
            {% include banner.html %}
            <section id="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 middle">
                            {{ content }}
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        <footer>
            <div class="container">
                <div class="media">
                    <div class="media-right pull-left">
                        <img src="{{ site.baseurl }}/assets/media/uploads/assets/eu-emblem-with-white-border.png" class="media-object" style="height: 50px;"/>
                    </div>
                    <div class="media-body">
                        <p>This project has received funding from the European Union's Horizon&nbsp;2020
                            Research and Innovation Programme under grant agreement no.&nbsp;641727.</p>
                    </div>
                </div>
                <div>
                    <div class="nav-footer">
                        <ul class="list-unstyled">
                            <li id="footer-menu-about">
                                <a href="{{ site.baseurl }}/about/">About</a>
                            </li>
                        </ul>
                        <ul class="list-unstyled">
                            <li id="footer-menu-https:--uip.primavera-h2020.eu-">
                                <a href="https://uip.primavera-h2020.eu/">UIP</a>
                            </li>
                        </ul>
                        <ul class="list-unstyled">
                            <li id="footer-menu-jobs">
                                <a href="{{ site.baseurl }}/jobs/">Jobs</a>
                            </li>
                        </ul>
                        <ul class="list-unstyled">
                            <li id="footer-menu-http:--proj.badc.rl.ac.uk-primavera-private">
                                <a href="http://proj.badc.rl.ac.uk/primavera-private">Log in</a>
                            </li>
                        </ul>
                        <ul class="list-unstyled">
                            <li id="footer-menu-https:--twitter.com-primavera_h2020">
                                <a href="https://twitter.com/primavera_h2020">Twitter</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="copyright ">
                    <p class="text-center">&copy; Copyright 2019</p>
                </div>
            </div>
        </footer>

        <script src="{{ site.baseurl }}/assets/js/jquery.easing.1.3.js"></script>
        <script src="{{ site.baseurl }}/assets/js/jquery.fancybox.pack.js"></script>
        <script src="{{ site.baseurl }}/assets/js/jquery.fancybox-media.js"></script>
        <script src="{{ site.baseurl }}/assets/js/google-code-prettify/prettify.js"></script>
        <script src="{{ site.baseurl }}/assets/js/portfolio/jquery.quicksand.js"></script>
        <script src="{{ site.baseurl }}/assets/js/portfolio/setting.js"></script>
        <script src="{{ site.baseurl }}/assets/js/jquery.flexslider.js"></script>
        <script src="{{ site.baseurl }}/assets/js/animate.js"></script>
        <script src="{{ site.baseurl }}/assets/js/custom.js"></script>
    </div>
</body>

</html>