---
layout: base_primavera
---

<body>
    <section id="summary" class="box-gray">
        <div class="container">
            <div>
                <h3><span class="glyphicon glyphicon-eye-open"></span>&nbsp; In a few words</h3>
                <ul>
                    <li>a <a href="https://ec.europa.eu/programmes/horizon2020/">European Union
                        Horizon2020</a> project,
                    </li>
                    <li>a new generation of advanced and well-evaluated high-resolution global climate
                        models,
                    </li>
                    <li>simulations and predictions of regional climate with unprecedented fidelity,
                    </li>
                    <li>for the benefit of governments, business and society in general.</li>
                </ul>
            </div>
        </div>
    </section>
    
    <section id="uip-info">
        <div class="container">
            <h3><span class="glyphicon glyphicon-share-alt"></span>&nbsp; The User
                Interface Platform</h3>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <p>The <a href="http://uip.primavera-h2020.eu/"
                              title="Go to User Interface Platform">User Interface
                        Platform (UIP)</a> disseminates the project results to users
                        and potential users:</p>
                    <ul>
                        <li><strong>new climate information</strong> arising from
                            PRIMAVERA
                            high&#8209;resolution simulations is presented
                            in the context of <strong>different impact
                                sectors</strong>,
                        </li>
                        <li>specific results are presented in an
                            <strong>interactive</strong> way by
                            using <strong>storymaps</strong>.
                        </li>
                    </ul>
                    <p><em>To access the UIP, follow link above or click on UIP in top menu.</em></p>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <a href="http://uip.primavera-h2020.eu/"
                       title="Go to User Interface Platform">
                        <img src="{{ site.baseurl }}/assets/media/uploads/assets/uip/primavera-uip-storymap-heatwave-1.png"
                        style="max-width: 100%; height: auto" ></a>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <a href="http://uip.primavera-h2020.eu/"
                       title="Go to User Interface Platform">
                        <img src="{{ site.baseurl }}/assets/media/uploads/assets/uip/primavera-uip-storymap-heatwave-2.png"
                        style="max-width: 100%; height: auto" ></a>
                </div>
            </div>
        </div>
    </section>

    
    <section id="content">
        <div class="container">
            <h3><span class="glyphicon glyphicon-tasks"></span>&nbsp; Our models and simulations</h3>
            <div class="row">
                <p>The seven modelling groups within PRIMAVERA are producing a common set of simulations for all project partners to analyse.</p>
                <ul>
                    <li>Our <a href="{{ site.baseurl }}/modelling/our-models/" title="Learn more about the models">global climate models</a> are diverse and have a wide range of horizontal resolutions.</li>
                    <li>Our <a href="{{ site.baseurl }}/modelling/our-simulations/" title="Learn more about the simulations">baseline climate simulations</a> use the CMIP6 HighResMIP experimental design. We also use additional simulations for more detailed studies.</li>
                    <li>We are <a href="{{ site.baseurl }}/modelling/#modelling-status" title="View status of on-going modelling">gradually completing</a> these baseline simulations on our supercomputers.</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <a href="{{ site.baseurl }}/modelling/our-models/" title="Learn more about the models">
                        <div class="caption">
                            <p>Models</p>
                        </div>
                        <img src="{{ site.baseurl }}/assets/media/uploads/assets/modelling/primavera_models_stream1_gray.png"
                        style="max-width: 100%; height: auto" >
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <a href="{{ site.baseurl }}/modelling/our-simulations/" title="Learn more about the simulations">
                        <div class="caption">
                            <p>Simulations</p>
                        </div>
                        <img src="{{ site.baseurl }}/assets/media/uploads/assets/modelling/simulation_summary_stream1_orange.png"
                        style="max-width: 100%; height: auto" >
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <a href="{{ site.baseurl }}/modelling/#modelling-status" title="View status of on-going simulations">
                        <div class="caption">
                            <p>Status of on-going simulations</p>
                        </div>
                    </a>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="google-iframe iframe-square">
                                <iframe width="210" height="205" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1CJFzMY2H5y9e8SD1Mc8uq74BsExv89-QUwSv34Qqno0/pubchart?oid=2065057932&amp;format=image"></iframe>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="google-iframe iframe-square">
                                <iframe seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1CJFzMY2H5y9e8SD1Mc8uq74BsExv89-QUwSv34Qqno0/pubchart?oid=2020121767&amp;format=image"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="european-climate-risk">
        <div class="container">
            <h3><span class="glyphicon glyphicon-retweet"></span>&nbsp; Understanding climate processes for European climate risk</h3>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <p>Our aim is to better understand <strong>global climate processes</strong> and how they impact on European weather and climate, in the past and for the future.</p>
                    <p>Our models at different resolutions may well represent these processes differently, and hence change their risk to the European region.</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <p>Initially we can consider processes in the <a href="{{ site.baseurl }}/modelling/atmosphere/" title="Learn more about atmospheric research">atmosphere</a>, <a href="{{ site.baseurl }}/modelling/ocean/" title="Learn more about oceanic research">ocean</a> and <a href="{{ site.baseurl }}/modelling/sea-ice/" title="Learn more about sea-ice research">sea-ice</a> components of our models, before trying to understand all the interacting processes between these different parts of the climate.</p>
                    <p>We are building a variety of standard <a href="{{ site.baseurl }}/modelling/tools-and-metrics/" title="Learn more about tools and metrics">tools and metrics</a> to help us systematically compare the different models, and different resolutions.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <a href="{{ site.baseurl }}/modelling/atmosphere/" title="Learn more about atmospheric research">
                        <div class="caption">
                            <p>Atmosphere</p>
                        </div>
                        <img src="{{ site.baseurl }}/assets/media/uploads/assets/modelling/atmosphere_process_people.png"
                        style="max-width: 100%; height: auto" >
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <a href="{{ site.baseurl }}/modelling/ocean/" title="Learn more about oceanic research">
                        <div class="caption">
                            <p>Ocean</p>
                        </div>
                        <img src="{{ site.baseurl }}/assets/media/uploads/assets/modelling/mindmap_wp2_ocean_processes.png"
                        style="max-width: 100%; height: auto" >
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <a href="{{ site.baseurl }}/modelling/sea-ice/" title="Learn more about sea-ice research">
                        <div class="caption">
                            <p>Sea ice</p>
                        </div>
                        <img src="{{ site.baseurl }}/assets/media/uploads/assets/modelling/mindmap_wp2_sea-ice_processes.png"
                        style="max-width: 100%; height: auto" >
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <a href="{{ site.baseurl }}/modelling/tools-and-metrics/" title="Learn more about tools and metrics">
                        <div class="caption">
                            <p>Tools</p>
                        </div>
                        <img src="{{ site.baseurl }}/assets/media/uploads/assets/modelling/tools_and_metrics.png"
                        style="max-width: 100%; height: auto" >
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    <section id="bottom">
        <div class="container">
            <h3><span class="glyphicon glyphicon-user"></span>&nbsp; Partners</h3>
            <p>PRIMAVERA is a collaboration between 20&nbsp;leading European research and technology
                organisations with complementary expertise in climate science, climate&nbsp;change
                modelling, and high&#8209;performance computing. The project is led by the
                Met&nbsp;Office and the University&nbsp;of&nbsp;Reading.</p>
            <div class="row">
                
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a href="http://www.metoffice.gov.uk" title="Met Office"><img src="{{ site.baseurl }}/assets/media/uploads/assets/partners/met_office.png" style="max-width: 100%; height: auto" ></a>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a href="http://www.reading.ac.uk" title="University of Reading"><img src="{{ site.baseurl }}/assets/media/uploads/assets/partners/u_reading.png" style="max-width: 100%; height: auto" ></a>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a href="http://www.knmi.nl" title="Royal Netherlands Meteorological Institute"><img src="{{ site.baseurl }}/assets/media/uploads/assets/partners/knmi.png" style="max-width: 100%; height: auto" ></a>
                </div>
    
                <div class="clearfix visible-xs"></div>
    
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a href="http://www.smhi.se/" title="Swedish Meteorological and Hydrological Institute"><img src="{{ site.baseurl }}/assets/media/uploads/assets/partners/smhi.png" style="max-width: 100%; height: auto" ></a>
                </div>
                
                <div class="clearfix visible-sm"></div>
                
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a href="http://www.cerfacs.fr/" title="Centre Europ&eacute;en de Recherche et de Formation Avanc&eacute;e en Calcul Scientifique"><img src="{{ site.baseurl }}/assets/media/uploads/assets/partners/cerfacs.png" style="max-width: 100%; height: auto" ></a>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a href="http://www.mpimet.mpg.de/" title="Max Planck Institute for Meteorology"><img src="{{ site.baseurl }}/assets/media/uploads/assets/partners/mpi_met.png" style="max-width: 100%; height: auto" ></a>
                </div>
                
                <div class="clearfix visible-xs visible-md"></div>
                
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a href="http://www.uclouvain.be/" title="Universit&eacute; catholique de Louvain"><img src="{{ site.baseurl }}/assets/media/uploads/assets/partners/u_louvain2.png" style="max-width: 100%; height: auto" ></a>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a href="http://www.bsc.es/" title="..."><img src="{{ site.baseurl }}/assets/media/uploads/assets/partners/bsc.png" style="max-width: 100%; height: auto" ></a>
                </div>
                
                <div class="clearfix visible-sm"></div>
                
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a href="http://www.cmcc.it/" title="Centro Euro-Mediterraneo sui Cambiamenti Climatici"><img src="{{ site.baseurl }}/assets/media/uploads/assets/partners/cmcc.png" style="max-width: 100%; height: auto" ></a>
                </div>
                
                <div class="clearfix visible-xs"></div>
                
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a href="http://www.oxford.ac.uk/" title="University of Oxford"><img src="{{ site.baseurl }}/assets/media/uploads/assets/partners/u_oxford.png" style="max-width: 100%; height: auto" "></a>
                </div>
                
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a href="http://www.awi.de/" title="Alfred Wegener Institute"><img src="{{ site.baseurl }}/assets/media/uploads/assets/partners/awi.png" style="max-width: 100%; height: auto" ></a>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a href="http://www.isac.cnr.it/" title="Institute of Atmospheric Sciences and Climate"><img src="{{ site.baseurl }}/assets/media/uploads/assets/partners/isac_cnr.png" style="max-width: 100%; height: auto" ></a>
                </div>
                
                <div class="clearfix visible-xs visible-sm visible-md"></div>
                
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a href="http://www.ecmwf.int/" title="European Centre for Medium-Range Weather Forecasts"><img src="{{ site.baseurl }}/assets/media/uploads/assets/partners/ecmwf.png" style="max-width: 100%; height: auto" ></a>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a href="http://www.nerc.ac.uk/" title="Natural Environment Research Council"><img src="{{ site.baseurl }}/assets/media/uploads/assets/partners/nerc4.png" style="max-width: 100%; height: auto" ></a>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a href="http://www.leeds.ac.uk/" title="University of Leeds"><img src="{{ site.baseurl }}/assets/media/uploads/assets/partners/u_leeds.png" style="max-width: 100%; height: auto" ></a>
                </div>
                
                <div class="clearfix visible-xs"></div>
                
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a href="http://www.su.se/" title="Stockholm University"><img src="{{ site.baseurl }}/assets/media/uploads/assets/partners/u_stockholm.png" style="max-width: 100%; height: auto" ></a>
                </div>
                
                <div class="clearfix visible-sm"></div>
                
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a href="http://www.stfc.ac.uk/" title="Science &amp; Technology Facilities Council"><img src="{{ site.baseurl }}/assets/media/uploads/assets/partners/stfc.png" style="max-width: 100%; height: auto" ></a>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a href="http://www.predictia.es/" title="Predictia"><img src="{{ site.baseurl }}/assets/media/uploads/assets/partners/predictia.png" style="max-width: 100%; height: auto" ></a>
                </div>
                
                <div class="clearfix visible-xs visible-md"></div>
                
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a href="http://www.dkrz.de/" title="DKRZ"><img src="{{ site.baseurl }}/assets/media/uploads/assets/partners/dkrz.png" style="max-width: 100%; height: auto" ></a>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a href="http://www.meteoromania.ro/" title="National Meteorological Administration of Romania"><img src="{{ site.baseurl }}/assets/media/uploads/assets/partners/nma_romania.png" style="max-width: 100%; height: auto" ></a>
                </div>
    
            </div>
        </div>
    
    </section>
</body>